.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #78909c;
  background: linear-gradient(
    135deg,
    rgb(179, 229, 252) 0%,
    rgb(179, 229, 252) 50%,
    rgb(240, 98, 146) 50%,
    rgb(240, 98, 146) 100%
  );
}
